<!-- main app container -->

    <div class="container header">
        <div class="col-sm-8 col-sm-offset-2">
            <img src="images/MulesoftLogo.png" width="120px" class="header-logo mule-logo" />
            <div class="divider"></div>
            <img src="images/DeloitteLogo.png" width="150px" class="header-logo" />
        </div>
    </div>


<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <alert></alert>
            <div class="menu" *ngIf="isLoggedIn$ | async">
                <p><a [routerLink]="['/login']">Logout</a></p>
                <p><a [routerLink]="['/account/usage']">Usage</a></p>
                <p><a [routerLink]="['/account/details']">Account Details</a></p>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <p>
        Mulesoft Connect Demo.
    </p>
</div>