<div class="menu">
    <p><a  (click)="getUsage()">Account Usage</a></p>
    <p><a [routerLink]="['/home']">Home</a></p>
</div>
<div class="col-md-6 col-md-offset-3 account-information">
    <h2>Account</h2>
    <h3>Contact Information</h3>
    <div class="form-group">
        <label for="firstName">First Name</label>
        <p>{{model.firstName}}</p>
    </div>
    <div class="form-group">
        <label for="firstName">Last Name</label>
        <p>{{model.lastName}}</p>
    </div>
    <div class="form-group">
        <label for="firstName">email</label>
        <p>{{model.email}}</p>
    </div>
    <div class="form-group">
        <label for="firstName">Phone</label>
        <p>{{model.phone}}</p>
    </div>
    <div class="form-group">
        <label for="firstName">Social Security Number</label>
        <p>{{model.ssn}}</p>
    </div>
    <div class="form-group">
        <label for="firstName">Date Of Birth</label>
        <p>{{model.dateOfBirth}}</p>
    </div>
    <h3>Address Information</h3>
    <div class="form-group">
        <label for="firstName">Address 1</label>
        <p>{{model.address.addressLine1}}</p>
    </div>
    <div class="form-group">
        <label for="firstName">ZIP Code</label>
        <p>{{model.address.zipCode}}</p>
    </div>
    <div class="form-group">
        <label for="firstName">City</label>
        <p>{{model.address.city}}</p>
    </div>
    <div class="form-group">
        <label for="firstName">State</label>
        <p>{{model.address.state}}</p>
    </div>
    <div class="form-group">
        <label for="firstName">Country</label>
        <p>{{model.address.country}}</p>
    </div>
</div>
